$dashboard-colors: (
  portfolio-bg: $base-persian-color,
  topbar-bg: $base-froly-color,
  title-color: $base-white-color,
  options-bg: $base-white-color,
  app-shadow: rgba(0, 0, 0, 0.1),
);

.dashboard {
  &__outer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  &__options {
    display: flex;
    flex: 1;
    align-items: flex-start;
    background-color: map-get($dashboard-colors, 'options-bg');

    &-inner {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      padding: 50px 20px;
    }
  }

  &__page {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(map-get($dashboard-colors, 'title-color'), 0.1);
  }

  &__message {
    @extend %trait-message;
  }

  &__app {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    box-shadow: 0 0 10px 1px map-get($dashboard-colors, 'app-shadow');
  }

  &__title {
    color: map-get($dashboard-colors, 'title-color');
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    text-align: center;

    &--topbar {
      background-color: map-get($dashboard-colors, 'topbar-bg');
    }

    &--portfolio {
      background-color: map-get($dashboard-colors, 'portfolio-bg');
    }
  }
}
